html {
       height: 100%;
       width: 100%;
}

body {
       height: 100%;
       width: 100%;
}

h1 {
       text-align: center;
       text-transform: capitalize; 
       font-family: serif;
       font-style: italic;
}


.cuerpo{
       display: grid; 
       grid-template: "map imbr" "map imbr"
}


/* Zona izquierda de la visualización para el mapa y sus controles*/
#divMapa{
       grid-area: map;
       height: 100%;
       width: 100%;
      /*border: 1px solid black;*/
      /*float: right;*/
}

.bloque {
  display: inline-block;
 }

/* Zona destinada a situar el mapa sin sus controles*/
#mapa{
     height:701px;
     width:854px;
     background-color: lightblue;
     border: 1px solid black;
     margin-left:7%;
     margin-top:2%;
     overflow: hidden;
}

/* svg donde se dibujan los continentes */
#grafico{
    height:100%;
    width:100%;
}



/* Tabla para los controles del tiempo sobre el mapa */
 #temptable{
    margin: auto;
    /*border:1px solid black; */
    width: 25%; 
    height:7%; 
}

.centrado{
    text-align:center; 
}

/* Zona donde se muestra la fecha actual y donde se puede especificar una nueva */
#fecha{
   text-align:center; 
   color: purple; 
   transition: value 10s; 
}

#fecha:onchange{
   value: 1989;
}

/* Botones Next y Back */
.backnext{
   width:90%;
   height:30px;
}


/* Zona destinada a las imágenes de los cuadros y al gráfico de barras */
#divImgBar{
       grid-area: imbr;
       height: 100%;
       width: 100%;
       /*border: 1px solid black;*/
       float: right;
       display: grid; 
       grid-template: "imag" "barras";
       align-items: center;
}

.imagenes{
       grid-area: imag;
}

.barritas{
       grid-area: barras;
}

/* Zona destinada a las imágenes de los cuadros */
#divImg {
       height: 100%;
       width: 100%;
       /*border: 1px solid black;*/
       float: right;
}

/* Nombre del cuadro */
#titulo{
    text-align:center;
    font-weight:bold;
}


#txtImagen{
   text-align:center;
}

/* Párrafo tipo de descripción */
p.tipoDesc{
   text-align: center;
   font-style: italic; 
   font-size: 11pt;
}


/* Zona destinada al gráfico de barras */
#divBar {
       height: 100%;
       width: 100%;
      /* border: 1px solid black;*/
       float: right;
}

/* Párrafo título de imagen  */
p.tipoImg{
     text-align: center;
     font-weight:bold; 
     color: purple; 
}


/* Formato para el título del gráfico de barras */
#tituloBarras{
    text-align:center;
    font-weight:bold;
}


/* Gráfico de barras */
#barras{
     height: 100%;
     width: 100%; 
     margin-top: 0px;
     padding-left: 5%;
}

/* Herramienta para mostrar el texto al pasar el ratón por las barras */
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* TIPOS DE IMÁGENES  */
img.peque{
  width: 10%; height: 10%;
}

img.mediana{
  max-width: 60%;
  max-height: 60%; 
  width: auto; 
  height: auto;
  display:block;
 margin:auto;
}

img.grande{
  width: 200px; height: 200px;
}

